name: General checks
on:
  pull_request:
    branches:
      - main
      - dev

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref }}

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          workload_identity_provider: ${{ secrets.GCP_WIP }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          token_format: 'access_token'

      - name: Confirm GCP Authentication
        run: gcloud auth list

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.2

      - name: Terraform Init
        run: terraform init
        working-directory: project/dev/

      - name: Terraform Validate
        run: terraform validate
        working-directory: project/dev/

      - name: Terraform Plan
        run: terraform plan -out=tfplan
        working-directory: project/dev/
